---
version: 1
interactions:
- request:
    body: <storage><size>10</size><tier>maxiops</tier><title>Test storage</title><zone>fi-hel2</zone><backup_rule><interval>daily</interval><time>0430</time><retention>30</retention></backup_rule></storage>
    form: {}
    headers:
      Content-Type:
      - application/xml
    url: https://api.upcloud.com/1.2/storage
    method: POST
  response:
    body: |
      <?xml version="1.0" encoding="utf-8"?>
      <storage>
        <access>private</access>
        <backup_rule>
          <interval>daily</interval>
          <retention>30</retention>
          <time>0430</time>
        </backup_rule>
        <backups>
        </backups>
        <license>0</license>
        <servers>
        </servers>
        <size>10</size>
        <state>online</state>
        <tier>maxiops</tier>
        <title>Test storage</title>
        <type>normal</type>
        <uuid>01d5608b-b28e-4e78-a319-c57ef157d86b</uuid>
        <zone>fi-hel2</zone>
      </storage>
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: <storage><zone>fi-hel2</zone><tier>maxiops</tier><title>Cloned storage</title></storage>
    form: {}
    headers:
      Content-Type:
      - application/xml
    url: https://api.upcloud.com/1.2/storage/01d5608b-b28e-4e78-a319-c57ef157d86b/clone
    method: POST
  response:
    body: |
      <?xml version="1.0" encoding="utf-8"?>
      <storage>
        <access>private</access>
        <backup_rule></backup_rule>
        <backups>
        </backups>
        <license>0</license>
        <progress>0</progress>
        <servers>
        </servers>
        <size>10</size>
        <state>maintenance</state>
        <tier>maxiops</tier>
        <title>Cloned storage</title>
        <type>normal</type>
        <uuid>01b5632e-355b-4385-b255-ad83b2c17a8b</uuid>
        <zone>fi-hel2</zone>
      </storage>
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/xml
    url: https://api.upcloud.com/1.2/storage/01b5632e-355b-4385-b255-ad83b2c17a8b
    method: GET
  response:
    body: |
      <?xml version="1.0" encoding="utf-8"?>
      <storage>
        <access>private</access>
        <backup_rule></backup_rule>
        <backups>
        </backups>
        <license>0</license>
        <progress>1</progress>
        <servers>
        </servers>
        <size>10</size>
        <state>maintenance</state>
        <tier>maxiops</tier>
        <title>Cloned storage</title>
        <type>normal</type>
        <uuid>01b5632e-355b-4385-b255-ad83b2c17a8b</uuid>
        <zone>fi-hel2</zone>
      </storage>
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
