---
version: 1
interactions:
- request:
    body: '{"storage":{"size":"10","tier":"maxiops","title":"Test storage","zone":"fi-hel2","backup_rule":{"interval":"daily","time":"0430","retention":"30"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/storage
    method: POST
  response:
    body: |
      {
         "storage" : {
            "access" : "private",
            "backup_rule" : {
               "interval" : "daily",
               "retention" : "30",
               "time" : "0430"
            },
            "backups" : {
               "backup" : []
            },
            "license" : 0,
            "servers" : {
               "server" : []
            },
            "size" : 10,
            "state" : "online",
            "tier" : "maxiops",
            "title" : "Test storage",
            "type" : "normal",
            "uuid" : "01202292-7496-4c1d-93b5-8dee6124675c",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: <storage><title>New fancy title</title></storage>
    form: {}
    headers:
      Content-Type:
      - application/xml
    url: https://api.upcloud.com/1.2/storage/01202292-7496-4c1d-93b5-8dee6124675c
    method: PUT
  response:
    body: |
      <?xml version="1.0" encoding="utf-8"?>
      <storage>
        <access>private</access>
        <backup_rule>
          <interval>daily</interval>
          <retention>30</retention>
          <time>0430</time>
        </backup_rule>
        <backups>
        </backups>
        <license>0</license>
        <servers>
        </servers>
        <size>10</size>
        <state>online</state>
        <tier>maxiops</tier>
        <title>New fancy title</title>
        <type>normal</type>
        <uuid>01202292-7496-4c1d-93b5-8dee6124675c</uuid>
        <zone>fi-hel2</zone>
      </storage>
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
    status: 202 Accepted
    code: 202
    duration: ""
[...]
