---
version: 1
interactions:
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-createstartstopserver.example.com","ip_addresses":{"ip_address":[{"access":"private","family":"IPv4"},{"access":"public","family":"IPv4"},{"access":"public","family":"IPv6"}]},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000030060200","title":"disk1","size":30,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-createstartstopserver","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596452603,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-createstartstopserver.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "private",
                     "address" : "10.6.6.150",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:ec1b:dbff:feca:0427",
                     "family" : "IPv6"
                  },
                  {
                     "access" : "public",
                     "address" : "94.237.104.66",
                     "family" : "IPv4"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "nic_model" : "virtio",
            "password" : "37qwq7a3",
            "plan" : "custom",
            "plan_ipv4_bytes" : "0",
            "plan_ipv6_bytes" : "0",
            "progress" : "0",
            "state" : "maintenance",
            "storage_devices" : {
               "storage_device" : [
                  {
                     "address" : "virtio:0",
                     "boot_disk" : "0",
                     "storage" : "015e69c9-358d-4a3c-9a74-54a74e5b9533",
                     "storage_size" : 30,
                     "storage_title" : "disk1",
                     "type" : "disk"
                  }
               ]
            },
            "tags" : {
               "tag" : []
            },
            "timezone" : "UTC",
            "title" : "uploud-go-sdk-integration-test-createstartstopserver",
            "username" : "root",
            "uuid" : "00c07e6f-4d78-43d8-a2c8-b102899b7078",
            "video_model" : "cirrus",
            "vnc" : "off",
            "vnc_password" : "GTM4Mh86",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server/00c07e6f-4d78-43d8-a2c8-b102899b7078
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596452603,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-createstartstopserver.example.com",
            "ip_addresses[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server/00c07e6f-4d78-43d8-a2c8-b102899b7078
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596452603,
            "firewall" : "off",
            "host" : 5201216131,
            "hostname" : "uploud-go-sdk-integration-test-createstartstopserver.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "private",
                     "address" : "10.6.6.150",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:ec1b:dbff:feca:0427",
                     "fa[...]
- request:
    body: <stop_server><timeout>900</timeout><stop_type>hard</stop_type></stop_server>
    form: {}
    headers:
      Content-Type:
      - application/xml
    url: https://api.upcloud.com/1.2/server/00c07e6f-4d78-43d8-a2c8-b102899b7078/stop
    method: POST
  response:
    body: |
      <?xml version="1.0" encoding="utf-8"?>
      <server>
        <boot_order>disk</boot_order>
        <core_number>1</core_number>
        <created>1596452603</created>
        <firewall>off</firewall>
        <host>5201216131</host>
        <hostname>uploud-go-sdk-in[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server/00c07e6f-4d78-43d8-a2c8-b102899b7078/start
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596452603,
            "firewall" : "off",
            "host" : 7617135235,
            "hostname" : "uploud-go-sdk-integration-test-createstartstopserver[...]
