---
version: 1
interactions:
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-testcreatemodifydeleteserver.example.com","ip_addresses":{"ip_address":[{"access":"private","family":"IPv4"},{"access":"public","family":"IPv4"},{"access":"public","family":"IPv6"}]},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000030060200","title":"disk1","size":30,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-TestCreateModifyDeleteServer","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596207872,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testcreatemodifydeleteserver.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "private",
                     "address" : "10.6.0.230",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:ec1b:dbff:feca:0bc4",
                     "family" : "IPv6"
                  },
                  {
                     "access" : "public",
                     "address" : "94.237.104.24",
                     "family" : "IPv4"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "nic_model" : "virtio",
            "password" : "e893d32k",
            "plan" : "custom",
            "plan_ipv4_bytes" : "0",
            "plan_ipv6_bytes" : "0",
            "progress" : "0",
            "state" : "maintenance",
            "storage_devices" : {
               "storage_device" : [
                  {
                     "address" : "virtio:0",
                     "boot_disk" : "0",
                     "storage" : "01d397b7-eabd-42ee-9d76-775fae9098d1",
                     "storage_size" : 30,
                     "storage_title" : "disk1",
                     "type" : "disk"
                  }
               ]
            },
            "tags" : {
               "tag" : []
            },
            "timezone" : "UTC",
            "title" : "uploud-go-sdk-integration-test-TestCreateModifyDeleteServer",
            "username" : "root",
            "uuid" : "001ecc50-52d3-4962-82c9-9dd8fe27eb7e",
            "video_model" : "cirrus",
            "vnc" : "off",
            "vnc_password" : "hq7NRA65",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/xml
    url: https://api.upcloud.com/1.2/server/001ecc50-52d3-4962-82c9-9dd8fe27eb7e
    method: GET
  response:
    body: |
      <?xml version="1.0" encoding="utf-8"?>
      <server>
        <boot_order>disk</boot_order>
        <core_number>1</core_number>
        <created>1596207872</created>
        <firewall>off</firewall>
        <hostname>uploud-go-sdk-integration-test-testcreatemodifydeleteserver.e[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/xml
    url: https://api.upcloud.com/1.2/server/001ecc50-52d3-4962-82c9-9dd8fe27eb7e
    method: GET
  response:
    body: |
      <?xml version="1.0" encoding="utf-8"?>
      <server>
        <boot_order>disk</boot_order>
        <core_number>1</core_number>
        <created>1596207872</created>
        <firewall>off</firewall>
        <host>5201216131</host>
        <hostname>uploud-go-sdk-integration-test-testcreatemodifydeleteserver.example.com</hostname>
        <ip_addresses>
          <ip_address>
            <access>private</access>
            <address>10.6.0.230</address>
            <family>IPv4</family>
          </ip_address>
          <ip_address>
            <access>public</access>
            <address>2a04:3545:1000:720:ec1b:dbff:feca:0bc4</address>
            <family>IPv6</family>
          </ip_address>
          <[...]
[...]
- request:
    body: <stop_server><timeout>900</timeout><stop_type>hard</stop_type></stop_server>
    form: {}
    headers:
      Content-Type:
      - application/xml
    url: https://api.upcloud.com/1.2/server/001ecc50-52d3-4962-82c9-9dd8fe27eb7e/stop
    method: POST
  response:
    body: |
      <?xml version="1.0" encoding="utf-8"?>
      <server>
        <boot_order>disk</boot_order>
        <core_number>1</core_number>
        <created>1596207872</created>
        <firewall>off</firewall>
        <host>5201216131</host>
        <hostname>uploud-go-sdk-in[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/xml
    url: https://api.upcloud.com/1.2/storage/private
    method: GET
  response:
    body: |
      <?xml version="1.0" encoding="utf-8"?>
      <storages>
        <storage>
          <access>private</access>
          <license>0</license>
          <size>30</size>
          <state>online</state>
          <tier>maxiops</tier>
          <title>disk1</title>
          <type>normal</type>
          <uuid>01d397b7-eabd-42ee-9d76-775fae9098d1</uuid>
          <zone>fi-hel2</zone>
        </storage>
      </storages>
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
