---
version: 1
interactions:
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-testgetipaddresses.example.com","ip_addresses":{"ip_address":[{"access":"private","family":"IPv4"},{"access":"public","family":"IPv4"},{"access":"public","family":"IPv6"}]},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000030060200","title":"disk1","size":30,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-TestGetIPAddresses","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596544048,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testgetipaddresses.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "private",
                     "address" : "10.6.6.139",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:ec1b:dbff:feca:5656",
                     "family" : "IPv6"
                  },
                  {
                     "access" : "public",
                     "address" : "94.237.104.63",
                     "family" : "IPv4"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "nic_model" : "virtio",
            "password" : "57n99rz5",
            "plan" : "custom",
            "plan_ipv4_bytes" : "0",
            "plan_ipv6_bytes" : "0",
            "progress" : "0",
            "state" : "maintenance",
            "storage_devices" : {
               "storage_device" : [
                  {
                     "address" : "virtio:0",
                     "boot_disk" : "0",
                     "storage" : "012af847-1c5c-45b3-b1f5-7d773932ef03",
                     "storage_size" : 30,
                     "storage_title" : "disk1",
                     "type" : "disk"
                  }
               ]
            },
            "tags" : {
               "tag" : []
            },
            "timezone" : "UTC",
            "title" : "uploud-go-sdk-integration-test-TestGetIPAddresses",
            "username" : "root",
            "uuid" : "008cf871-7d3c-4001-849f-8e298cd144de",
            "video_model" : "cirrus",
            "vnc" : "off",
            "vnc_password" : "Q4u37rSp",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server/008cf871-7d3c-4001-849f-8e298cd144de
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596544048,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testgetipaddresses.example.com",
            "ip_addresses" :[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server/008cf871-7d3c-4001-849f-8e298cd144de
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596544048,
            "firewall" : "off",
            "host" : 7617135235,
            "hostname" : "uploud-go-sdk-integration-test-testgetipaddresses.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "private",
                     "address" : "10.6.6.139",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:ec1b:dbff:feca:5656",
                     "famil[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/ip_address
    method: GET
  response:
    body: |
      {
         "ip_addresses" : {
            "ip_address" : [
               {
                  "access" : "public",
                  "address" : "2a04:3545:1000:720:ec1b:dbff:feca:4ae3",
                  "family" : "IPv6",
                  "ptr_record" : "ec1b-dbff-feca-4ae3.v6.fi-hel2.upcloud.host",
                  "server" : "0028ab30-491a-4696-a601-91e810d154a8"
               },
               {
                  "access" : "public",
                  "address" : "2a04:3545:1000:720:ec1b:dbff:feca:5656",
                  "family" : "IPv6",
                  "ptr_record" : "ec1b-dbff-feca-5656.v6.fi-hel2.upcloud.host",
                  "server" : "008cf871-7d3c-4001-849f-8e298cd144de"
               },
               {
                  [...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/ip_address/
    method: GET
  response:
    body: |
      {
         "ip_addresses" : {
            "ip_address" : [
               {
                  "access" : "public",
                  "address" : "2a04:3545:1000:720:ec1b:dbff:feca:4ae3",
                  "family" : "IPv6",
                  "ptr_record" : "ec1b-dbff-feca-4ae3.v6.fi-hel2.upcloud.host",
      [...]
[...]
