---
version: 1
interactions:
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-testtagging.example.com","ip_addresses":{"ip_address":[{"access":"private","family":"IPv4"},{"access":"public","family":"IPv4"},{"access":"public","family":"IPv6"}]},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000030060200","title":"disk1","size":30,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-TestTagging","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596209525,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testtagging.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "private",
                     "address" : "10.6.6.192",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:ec1b:dbff:feca:6e7a",
                     "family" : "IPv6"
                  },
                  {
                     "access" : "public",
                     "address" : "94.237.104.67",
                     "family" : "IPv4"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "nic_model" : "virtio",
            "password" : "b8666748",
            "plan" : "custom",
            "plan_ipv4_bytes" : "0",
            "plan_ipv6_bytes" : "0",
            "progress" : "0",
            "state" : "maintenance",
            "storage_devices" : {
               "storage_device" : [
                  {
                     "address" : "virtio:0",
                     "boot_disk" : "0",
                     "storage" : "0195a9b9-ebb8-4a37-a22b-e242806a95af",
                     "storage_size" : 30,
                     "storage_title" : "disk1",
                     "type" : "disk"
                  }
               ]
            },
            "tags" : {
               "tag" : []
            },
            "timezone" : "UTC",
            "title" : "uploud-go-sdk-integration-test-TestTagging",
            "username" : "root",
            "uuid" : "0038549f-95fe-4279-a7f9-ced547d0addd",
            "video_model" : "cirrus",
            "vnc" : "off",
            "vnc_password" : "4t7358T3",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/xml
    url: https://api.upcloud.com/1.2/server/0038549f-95fe-4279-a7f9-ced547d0addd
    method: GET
  response:
    body: |
      <?xml version="1.0" encoding="utf-8"?>
      <server>
        <boot_order>disk</boot_order>
        <core_number>1</core_number>
        <created>1596209525</created>
        <firewall>off</firewall>
        <hostname>uploud-go-sdk-integration-test-testtagging.example.com</hostn[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/xml
    url: https://api.upcloud.com/1.2/server/0038549f-95fe-4279-a7f9-ced547d0addd
    method: GET
  response:
    body: |
      <?xml version="1.0" encoding="utf-8"?>
      <server>
        <boot_order>disk</boot_order>
        <core_number>1</core_number>
        <created>1596209525</created>
        <firewall>off</firewall>
        <host>7617135235</host>
        <hostname>uploud-go-sdk-integration-test-testtagging.example.com</hostname>
        <ip_addresses>
          <ip_address>
            <access>private</access>
            <address>10.6.6.192</address>
            <family>IPv4</family>
          </ip_address>
          <ip_address>
            <access>public</access>
            <address>2a04:3545:1000:720:ec1b:dbff:feca:6e7a</address>
            <family>IPv6</family>
          </ip_address>
          <ip_address>
     [...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/xml
    url: https://api.upcloud.com/1.2/tag
    method: GET
  response:
    body: |
      <?xml version="1.0" encoding="utf-8"?>
      <tags>
      </tags>
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: <tag><name>tag1</name><servers></servers></tag>
    form: {}
    headers:
      Content-Type:
      - application/xml
    url: https://api.upcloud.com/1.2/tag
    method: POST
  response:
    body: |
      <?xml version="1.0" encoding="utf-8"?>
      <tag>
        <description></description>
        <name>tag1</name>
        <servers>
        </servers>
      </tag>
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/xml
    url: https://api.upcloud.com/1.2/server/0038549f-95fe-4279-a7f9-ced547d0addd/tag/tag1
    method: POST
  response:
    body: |
      <?xml version="1.0" encoding="utf-8"?>
      <server>
        <boot_order>disk</boot_order>
        <core_number>1</core_number>
        <created>1596209525</created>
        <firewall>off</firewall>
        <host>7617135235</host>
        <hostname>uploud-go-sdk-integ[...]
- request:
    body: <tag><name>tag2_renamed</name><servers></servers></tag>
    form: {}
    headers:
      Content-Type:
      - application/xml
    url: https://api.upcloud.com/1.2/tag/tag2
    method: PUT
  response:
    body: |
      <?xml version="1.0" encoding="utf-8"?>
      <tag>
        <description></description>
        <name>tag2_renamed</name>
        <servers>
        </servers>
      </tag>
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/xml
    url: https://api.upcloud.com/1.2/server/0038549f-95fe-4279-a7f9-ced547d0addd/untag/tag1
    method: POST
  response:
    body: |
      <?xml version="1.0" encoding="utf-8"?>
      <server>
        <boot_order>disk</boot_order>
        <core_number>1</core_number>
        <created>1596209525</created>
        <firewall>off</firewall>
        <host>7617135235</host>
        <hostname>uploud-go-sdk-int[...]
